<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div><h1>Logo</h1><p>Baseline lorem ipsum dolor sit amet             </p></div>
            <ul class="nav">
                <li><a href="">Divertissement</a></li>
                <li><a href="">Sport</a></li>
                <li><a href="">Politique</a></li>
                <li><a href="">Histoire</a></li>
                <li><a href="">Nature</a></li>
                <li><a href="">Santé</a></li>
                <li><a href="">Culture Générale</a></li>
                <li><a href="">Géographie</a></li>
                <li><a href="">Gastronomie</a></li>
                <li><a href="">High-tech</a></li>
            </ul>        
        </header>
        
        <section class="content">
            {% block body %}{% endblock %}
            <div class="sideBar">
            {% block user %}{% endblock%}
            </div>
        </section>
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>