<div class="userBloc">
    <div class="conected">
        <img src="" alt="">
        <h4>Nom d'user</h4>
        <div class="level" class="sport">
            <p>Sport</p>
            <p class="badge"></p>
            <div class="progressBarOut">
                <div class="progressBarIn"></div>
            </div>
        </div>
        <a href="">Deconnexion</a>
        <a href="">Modifier le compte</a>
    </div>
    <div class="unconnect">
        <form action="">
            <input type="text">
            <input type="password">
            <div class="btn">
                <input type="submit" value="connexion">
                <a href="">inscription</a>
            </div>
        </form>
    </div>
</div>