{% extends 'base.html.twig' %}


{% block body %}
    <h2>Divertissements</h2>
    <div class="listCategory">
        <ul>
            {% for Quizz in DivertissementQuizz %}
            <li>
                <a href="">
                    <img src="../../bundles/acmedemo/images/test-hockey.jpg" alt="{{ Quizz.titre }}">
                    <div>
                    <p class="categorieInfo">{{ Quizz.categorie }}</p>
                    <p class="QuizzName">{{ Quizz.titre }}</p></div>
                </a>
            </li>
        {% endfor %}
        
        </ul>
    </div>
{% endblock %}


