{% extends 'base.html.twig' %}


{% block body %}
    <div class="lastQuizz">
        <h2>Les Derniers quizz</h2>
    </div>
    <div class="topQuizz">
        <h2>Les meilleurs quizz</h2>
    </div>
{% endblock %}

{% block user %}
    {% embed "views/userBloc.html.twig" %}
    {% endembed %}
{% endblock %}

