{% extends 'base.html.twig' %}


{% block body %}
    <div class="lastQuizz">
        <h2>Les Derniers quizz</h2>
        <ul>
            <li>
                <a href="">
                    <img src="" alt="">
                    <p class="categorieInfo">{{ quizz.categorie }}</p>
                    <p class="QuizzName">{{ quizz.titre }}</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="" alt="">
                    <p class="categorieInfo"></p>
                    <p class="QuizzName"></p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="" alt="">
                    <p class="categorieInfo"></p>
                    <p class="QuizzName"></p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="" alt="">
                    <p class="categorieInfo"></p>
                    <p class="QuizzName"></p>
                </a>
            </li>
        </ul>
    </div>
    <div class="topQuizz">
        <h2>Les meilleurs quizz</h2>
    </div>
{% endblock %}

{% block user %}
    {% embed "views/userBloc.html.twig" %}
    {% endembed %}
{% endblock %}

