{% extends 'base.html.twig' %}
{% block body %}
<h1>Modifier son profil: </h1><br />
<span>Modifier Pseudo<br />
Modifier Mot de passe :<br />
Mettre à jour sa photo de profil:</span><br />
{% endblock %}