{% extends 'base.html.twig' %}
{% block body %}
<h1>Modifier son profil</h1><br />
<span>Modifier Pseudo</span><br />
<span>Modifier Mot de passe :</span><br />
<span>Mettre à jour sa photo de profil:</span><br />
{% endblock %}