{% extends 'base.html.twig' %}

{% block body %}
 
    <div class="row">
        {% for q in quizz %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ q.titre }} - {{ q.categorie }}</h3>
                        <p><a href="{{ path('show_quizz', {id: q.id}) }}" class="btn btn-primary" role="button">
                            <img src="../bundles/acmedemo/images/{{ q.img }}"/>
              
                        </a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  
{% endblock %}
{##}
