/* line 13, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 23, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
body {
  line-height: 1; }

/* line 29, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
ol, ul {
  list-style: none; }

/* line 32, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
blockquote, q {
  quotes: none; }

/* line 36, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 40, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---- COLOR ------ */
/* ----- FONT ------ */
@font-face {
  font-family: "LatoBlack";
  src: url('../font/Lato-Black.ttf'); }

@font-face {
  font-family: "LatoLight";
  src: url('../font/Lato-Light.ttf'); }

@font-face {
  font-family: "LatoRegular";
  src: url('../font/Lato-Regular.ttf'); }

@font-face {
  font-family: "LatoBold";
  src: url('../font/Lato-Bold.ttf'); }

@font-face {
  font-family: "LatoBoldItalic";
  src: url('../font/Lato-BoldItalic.ttf'); }

/* line 79, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
* {
  box-sizing: border-box; }

/* line 82, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
body {
  background: #f5f5f5; }

/* line 85, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
header {
  background: #0f80cf; }
  /* line 87, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  header .topBar {
    height: 105px;
    margin: 0 auto; }
    /* line 90, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    header .topBar .head {
      float: left;
      max-width: 975px;
      margin: 20px 0 0;
      padding-left: 155px;
      padding-right: 40px; }
      /* line 97, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      header .topBar .head h1 {
        float: left; }
      /* line 101, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      header .topBar .head p {
        width: 800px;
        margin-top: 30px;
        padding-left: 110px;
        font-size: 0.9em;
        color: white;
        font-family: "LatoRegular", arial, sans-serif; }
    /* line 112, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    header .topBar .search {
      /*max-width: 1200px;*/
      margin: 20px 0 0;
      margin-left: 15px;
      float: left; }
      /* line 119, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      header .topBar .search .form-group {
        display: inline-block; }
        /* line 122, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        header .topBar .search .form-group input {
          background-color: #57a6de;
          padding: 7px 10px;
          border: none;
          width: 100%; }
        /* line 129, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        header .topBar .search .form-group input::-webkit-input-placeholder {
          color: #6e7275; }
        /* line 133, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        header .topBar .search .form-group input:-moz-placeholder {
          color: #6e7275; }
      /* line 138, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      header .topBar .search button {
        background-color: #ff9640;
        color: #fff;
        border: none;
        padding: 7px 10px;
        font-weight: bold; }
      /* line 145, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      header .topBar .search button:hover {
        background-color: #333;
        cursor: pointer; }
  /* line 154, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  header .row h3 {
    font-family: "LatoBlack", arial, sans-serif;
    color: #6f7376;
    font-size: 1em; }
  /* line 160, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  header .nav {
    background: #E5E5E5; }
    /* line 162, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    header .nav .liens_menu {
      max-width: 1200px;
      margin: auto;
      padding-left: 40px;
      padding-right: 40px; }
    /* line 168, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    header .nav a {
      display: inline-block;
      font-family: "LatoBlack", arial, sans-serif;
      color: #454545;
      font-size: 1em;
      text-decoration: none;
      height: 65px;
      line-height: 65px;
      margin-right: 25px; }
      /* line 177, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      header .nav a:hover {
        color: #ff9640; }

/* line 184, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
.caption h3 {
  font-family: "LatoBlack", arial, sans-serif; }

/* line 188, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
.profil {
  background-color: #0f80cf;
  padding-top: 0; }
  /* line 192, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil img {
    width: 90px;
    height: 90px; }
  /* line 196, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .roundedImage {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 10px auto; }
  /* line 205, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .roundedImage img {
    width: 100px;
    height: 100px; }
  /* line 210, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil h3 {
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 1.4em;
    font-family: "LatoLight", arial, sans-serif; }
  /* line 218, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil h2 {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 1.3em;
    font-family: "LatoBlack", arial, sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #FFFFFF;
    padding: 5px; }
  /* line 230, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil p {
    font-family: "LatoRegular", arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px; }
  /* line 237, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil p .bold {
    font-family: "LatoBold", arial, sans-serif;
    color: #ff9640; }
  /* line 241, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .log {
    float: left;
    border: none;
    background-color: #ff9640;
    color: white;
    text-decoration: none;
    font-size: 1.05em;
    padding: 16px 20px;
    width: 140px;
    margin-left: 10px;
    text-align: center;
    font-family: "LatoRegular", arial, sans-serif; }
  /* line 254, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .log:hover {
    background-color: #333; }
  /* line 257, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .deconnexion {
    margin: 20px 0 0 80px; }
  /* line 260, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .edit {
    margin-top: 20px;
    color: #fff; }
    /* line 263, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    .profil .edit h5 {
      text-align: center;
      font-size: 0.8em;
      color: #fff;
      font-family: "LatoRegular", arial, sans-serif;
      list-style-type: none; }
    /* line 271, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    .profil .edit h5:hover {
      color: #333; }
  /* line 275, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .edit:hover {
    color: #333; }
  /* line 278, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .identifiant {
    background-color: #57a6de;
    border: none;
    padding: 10px;
    font-size: 0.75em;
    width: 300px;
    margin-top: 5px 0; }
  /* line 286, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil input::-webkit-input-placeholder {
    color: #6e7275; }
  /* line 289, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil input:-moz-placeholder {
    color: #6e7275; }
  /* line 292, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil #remember_me {
    margin: 15px 0 25px;
    font-size: 0.9em;
    color: white; }
  /* line 297, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil label {
    font-size: 0.9em;
    color: white; }
  /* line 301, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .envoi {
    float: left;
    border: none;
    font-size: 1.05em;
    padding: 14px 20px;
    background-color: #ff9640;
    color: white;
    text-decoration: none;
    width: 140px;
    margin-right: 10px;
    text-align: center;
    font-family: "LatoRegular", arial, sans-serif;
    cursor: pointer; }
  /* line 315, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .envoi:hover {
    background-color: #333; }

/*** VALIDATE QUIZZ ***/
/* line 324, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse h2 {
  font-family: "LatoBlack", arial, sans-serif;
  font-size: 2em;
  padding: 10px 0px 10px; }
/* line 329, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse p {
  font-size: 1.25em;
  color: #333333;
  font-family: "LatoRegular", arial, sans-serif;
  font-style: italic;
  padding-bottom: 30px; }
/* line 338, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse label .libelleQuestion {
  font-size: 2em; }
/* line 341, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse label input + .customRadio {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: #FF9640;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #FF7400; }
/* line 351, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse label input:checked + .customRadio {
  background: #33CCCC;
  box-shadow: 0 0 0 2px #009999; }
/* line 355, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse .questionNumber {
  font-size: 3.2em;
  font-family: "LatoBold", arial, sans-serif;
  font-style: italic;
  float: left;
  color: #d7d7d7;
  margin-top: 60px; }
/* line 363, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse .libelleQuestion {
  font-size: 1.2em;
  font-family: "LatoBold", arial, sans-serif;
  margin: 10px 10px; }
/* line 368, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse .libelleReponse {
  font-family: "LatoRegular", arial, sans-serif;
  font-size: 1em;
  margin-left: 50px;
  color: green; }
/* line 375, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse #reponsetrue {
  color: #087700; }
/* line 379, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse #reponsefalse {
  color: #ff0000; }
/* line 382, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse input[type="submit"] {
  padding: 14px 20px;
  margin-top: 4%;
  font-family: 'Arial', sans-serif;
  font-size: 0.95em;
  font-weight: 100;
  color: #fff;
  background: #ff9640;
  border: none;
  cursor: pointer;
  text-align: center; }
/* line 395, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
#show-reponse input[type="submit"]:hover {
  background: #333; }

/* line 400, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
section {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px; }
  /* line 406, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .content {
    display: inline-block;
    width: 66%;
    padding-left: 20px;
    padding-left: 20px;
    /** CSS **/ }
    /* line 411, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content h2 {
      font-family: "LatoLight", arial, sans-serif;
      font-size: 2em;
      color: #ff9640; }
    /* line 416, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .topQuizz ul {
      margin-left: 20px; }
    /* line 419, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .lastQuizz ul {
      padding-right: 20px; }
    /* line 423, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .lastQuizz, section .content .topQuizz {
      width: 49%;
      display: inline-block; }
      /* line 426, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .lastQuizz h2, section .content .topQuizz h2 {
        margin-right: 20px; }
      /* line 429, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .lastQuizz li, section .content .topQuizz li {
        height: 70px;
        background: #e5E5E5;
        margin-top: 15px; }
        /* line 433, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .lastQuizz li img, section .content .topQuizz li img {
          height: 100%;
          display: inline-block; }
        /* line 437, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .lastQuizz li div, section .content .topQuizz li div {
          display: inline-block;
          vertical-align: top;
          padding-left: 15px;
          padding-top: 15px; }
          /* line 442, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .lastQuizz li div .categorieInfo, section .content .topQuizz li div .categorieInfo {
            font-family: "LatoBlack", arial, sans-serif;
            color: #333333;
            text-transform: uppercase;
            font-size: 0.75em; }
          /* line 448, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .lastQuizz li div .QuizzName, section .content .topQuizz li div .QuizzName {
            margin-top: 2px;
            font-size: 1.25em;
            color: #333333;
            font-family: "LatoRegular", arial, sans-serif; }
        /* line 455, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .lastQuizz li:first-child, section .content .topQuizz li:first-child {
          height: 210px;
          overflow: hidden;
          position: relative; }
          /* line 459, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .lastQuizz li:first-child div, section .content .topQuizz li:first-child div {
            z-index: 10;
            position: absolute;
            bottom: 0;
            height: 70px;
            background: rgba(0, 0, 0, 0.65);
            width: 100%; }
            /* line 466, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
            section .content .lastQuizz li:first-child div .QuizzName, section .content .lastQuizz li:first-child div .categorieInfo, section .content .topQuizz li:first-child div .QuizzName, section .content .topQuizz li:first-child div .categorieInfo {
              color: #ffffff; }
    /* line 473, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .topQuizz {
      width: 49%;
      display: inline-block;
      vertical-align: top; }
      /* line 477, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .topQuizz h2 {
        margin-left: 20px; }
    /* line 483, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .listCategory li {
      height: 70px;
      background: #dce0e3;
      margin-top: 15px; }
      /* line 484, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li a {
        text-decoration: none; }
      /* line 487, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li div {
        display: inline-block;
        padding-left: 15px;
        padding-top: 15px;
        vertical-align: top; }
      /* line 493, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li img {
        height: 100%; }
      /* line 499, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li .categorieInfo {
        font-family: "LatoBlack", arial, sans-serif;
        color: #333333;
        text-transform: uppercase;
        font-size: 0.75em; }
      /* line 505, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li .QuizzName {
        margin-top: 2px;
        font-size: 1.25em;
        color: #333333;
        font-family: "LatoRegular", arial, sans-serif; }
    /* line 512, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .listCategory .headlines {
      margin-top: 20px; }
      /* line 514, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory .headlines .first {
        width: 67.4%;
        padding-right: 5px;
        display: inline-block; }
        /* line 518, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .listCategory .headlines .first div {
          width: 100%;
          height: auto;
          position: relative;
          display: inline-block; }
          /* line 523, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .first div img {
            width: 100%;
            height: auto; }
          /* line 527, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .first div div {
            position: absolute;
            bottom: 4px;
            height: 70px;
            background: rgba(0, 0, 0, 0.65);
            padding-left: 15px;
            width: 100%;
            z-index: 4; }
      /* line 538, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory .headlines .side {
        width: 31.6%;
        padding-left: 5px;
        display: inline-block;
        vertical-align: top; }
        /* line 544, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .listCategory .headlines .side div div {
          width: 100%;
          height: auto;
          position: relative; }
          /* line 548, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .side div div img {
            width: 100%;
            height: auto; }
          /* line 552, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .side div div div {
            position: absolute;
            bottom: 4px;
            height: 70px;
            background: rgba(0, 0, 0, 0.65);
            padding-left: 15px;
            width: 100%;
            z-index: 4; }
        /* line 562, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .listCategory .headlines .side div:first-child {
          padding-bottom: 7px; }
          /* line 564, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .side div:first-child div {
            padding-bottom: 0;
            padding-top: 0; }
        /* line 569, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .listCategory .headlines .side div:nth-child(2) {
          padding-top: 7px; }
          /* line 571, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .side div:nth-child(2) div {
            padding-top: 0;
            padding-bottom: 0; }
      /* line 579, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory .headlines .categorieInfo {
        font-family: "LatoBlack", arial, sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.75em;
        margin-top: 15px; }
      /* line 586, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory .headlines .QuizzName {
        margin-top: 2px;
        font-size: 1.25em;
        color: #fff;
        font-family: "LatoRegular", arial, sans-serif; }
    /* line 595, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .intro {
      margin-top: 20px; }
      /* line 597, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .intro img {
        width: 49%;
        padding-right: 20px;
        display: inline-block; }
      /* line 602, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .intro p {
        vertical-align: top;
        padding-left: 20px;
        display: inline-block;
        width: 49%;
        color: #ff9640;
        font-family: "LatoRegular", arial, sans-serif;
        padding-right: 20px; }
    /* line 615, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .wrapper {
      width: 95%;
      padding: 6%;
      margin-top: 6% auto;
      background: #fff; }
      /* line 621, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper input[type="radio"] {
        display: none; }
      /* line 624, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper label .libelleQuestion {
        font-size: 2em; }
      /* line 627, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper label input + .customRadio {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background: #FF9640;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #FF7400; }
      /* line 637, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper label input:checked + .customRadio {
        background: #33CCCC;
        box-shadow: 0 0 0 2px #009999; }
      /* line 641, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper .questionNumber {
        font-size: 3.2em;
        font-family: "LatoBold", arial, sans-serif;
        font-style: italic;
        float: left;
        color: #d7d7d7;
        margin-top: 60px; }
      /* line 649, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper .libelleQuestion {
        font-size: 1.2em;
        font-family: "LatoBold", arial, sans-serif;
        margin: 10px 10px; }
      /* line 654, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper .libelleReponse {
        font-family: "LatoRegular", arial, sans-serif;
        font-size: 1em;
        margin-left: 50px; }
      /* line 660, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper input[type="submit"] {
        padding: 14px 20px;
        margin-top: 4%;
        font-family: 'Arial', sans-serif;
        font-size: 0.95em;
        font-weight: 100;
        color: #fff;
        background: #ff9640;
        border: none;
        cursor: pointer;
        text-align: center; }
      /* line 673, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .wrapper input[type="submit"]:hover {
        background: #333; }
  /* line 680, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .sideBar {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    background: #0f80cf;
    padding: 0px 20px 20px; }
    /* line 686, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .sideBar .userBloc {
      padding-left: 20px;
      padding-right: 20px;
      background: #0f80cf; }
  /* line 693, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .addQuizz {
    margin-top: 40px; }
    /* line 695, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz input[type="text"] {
      min-height: 45px;
      background: #fff;
      border: 2px solid #e3e3e3;
      color: #333333;
      font-size: 1.25em;
      font-family: "LatoRegular", arial, sans-serif;
      padding-left: 20px;
      width: 100%; }
    /* line 705, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz input[type="text"]::-webkit-input-placeholder {
      font-family: "LatoLight", arial, sans-serif;
      color: #b7b7b7; }
    /* line 709, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz textarea {
      background: #fff;
      border: 2px solid #e3e3e3;
      min-height: 120px;
      width: 100%;
      margin-top: 20px;
      color: #333333;
      font-size: 1.25em;
      font-family: "LatoRegular", arial, sans-serif;
      padding-left: 20px; }
    /* line 720, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz textarea::-webkit-input-placeholder {
      font-family: "LatoLight", arial, sans-serif;
      color: #b7b7b7; }
    /* line 724, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_categorie {
      background: #fff;
      border: 2px solid #e3e3e3;
      min-height: 30px;
      font-family: "LatoRegular", arial, sans-serif;
      padding-left: 10px;
      margin-left: 10px; }
    /* line 732, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz input[type="checkbox"] {
      display: inline-block;
      width: 10%; }
    /* line 736, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz input[class="addReponse"] {
      display: inline-block;
      width: 100%; }
    /* line 740, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz input[type="submit"] {
      border: none;
      background-color: #ff9640;
      color: #fff;
      text-decoration: none;
      font-size: 0.95em;
      padding: 15px 15px;
      width: 140px;
      text-align: center;
      font-family: "LatoRegular", arial, sans-serif; }
    /* line 751, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz div[class^="add_quizz_type_questions"] {
      margin-top: 30px; }
    /* line 754, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_questions > div {
      margin-top: 40px; }
    /* line 757, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_questions > div > div > div {
      margin-bottom: 20px; }
    /* line 760, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz .numberAddQuestion {
      color: #d8d8d8;
      font-size: 4.688em;
      display: inline-block;
      width: 8%;
      font-family: "LatoBoldItalic", arial, sans-serif;
      vertical-align: top;
      line-height: 2.2em; }
    /* line 769, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_questions > div > div > div:nth-child(3) {
      display: inline-block;
      padding-left: 35px;
      width: 92%; }
    /* line 774, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div > div {
      display: inline-block; }
    /* line 777, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div > div:nth-child(1) {
      width: 92%; }
    /* line 780, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div {
      margin-bottom: 8px; }
    /* line 783, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div > div:nth-child(2) {
      width: 8%; }
    /* line 786, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div > div:nth-child(2) input {
      width: 15px;
      float: right; }
    /* line 791, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz hr {
      display: block;
      height: 2px;
      opacity: 0.1;
      background: #333;
      margin-top: 30px;
      border: none; }
    /* line 799, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz select {
      margin-top: 15px;
      margin-bottom: 20px; }
    /* line 803, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .addQuizz label {
      font-family: "LatoRegular", arial, sans-serif;
      color: #333;
      font-size: 0.85em; }
  /* line 811, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .edit_profil p {
    font-size: 0.9em;
    margin: 0; }
  /* line 815, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .edit_profil #fos_user_profile_form div, section .edit_profil #QuizzBundle_addpicturetype div:nth-child(-n+3) {
    margin-bottom: 20px; }
    /* line 817, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .edit_profil #fos_user_profile_form div label, section .edit_profil #QuizzBundle_addpicturetype div:nth-child(-n+3) label {
      width: 160px;
      display: block;
      float: left;
      margin-top: 10px;
      font-size: 0.9em; }
    /* line 824, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .edit_profil #fos_user_profile_form div input, section .edit_profil #QuizzBundle_addpicturetype div:nth-child(-n+3) input {
      min-height: 35px;
      background: #fff;
      border: 2px solid #e3e3e3;
      font-family: "LatoRegular", arial, sans-serif;
      padding-left: 10px;
      width: 300px; }
  /* line 834, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .edit_profil #QuizzBundle_addpicturetype div:nth-child(4) input {
    margin-left: 135px; }
  /* line 838, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .edit_profil input[type="submit"] {
    border: none;
    padding: 14px 20px;
    background-color: #ff9640;
    color: #fff;
    text-decoration: none;
    width: 140px;
    margin: 30px 0 0;
    text-align: center;
    font-family: "LatoRegular", arial, sans-serif;
    font-size: 0.95em; }
  /* line 850, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .edit_profil input[type="submit"]:hover {
    background-color: #333;
    cursor: pointer; }
  /* line 855, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section h1 {
    font-size: 2em;
    font-family: "LatoLight", arial, sans-serif;
    margin-bottom: 20px; }
  /* line 861, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section #fos_user_registration_form div {
    margin-bottom: 20px; }
    /* line 863, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section #fos_user_registration_form div label {
      width: 130px;
      display: block;
      float: left;
      margin-top: 10px;
      font-size: 0.9em; }
    /* line 870, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section #fos_user_registration_form div input {
      min-height: 35px;
      background: #fff;
      border: 2px solid #e3e3e3;
      font-family: "LatoRegular", arial, sans-serif;
      padding-left: 10px;
      width: 300px; }
  /* line 880, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .fos_user_registration_register input[type="submit"] {
    border: none;
    padding: 14px 20px;
    background-color: #ff9640;
    color: #fff;
    text-decoration: none;
    width: 140px;
    margin: 30px 0 0;
    text-align: center;
    font-family: "LatoRegular", arial, sans-serif;
    font-size: 0.95em; }
  /* line 892, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .fos_user_registration_register input[type="submit"]:hover {
    background-color: #333;
    cursor: pointer; }

@media screen and (max-width: 1191px) {
  /* line 901, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .sideBar {
    padding: 0; }

  /* line 905, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .envoi {
    margin: 0; }

  /* line 909, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  header .nav .liens_menu {
    max-width: 780px; }

  /* line 913, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  header .topBar .search {
    margin: 20px 0px 0px 0px; }
 }

@media screen and (max-width: 1038px) {
  /* line 920, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .envoi {
    float: none;
    margin: 0 auto 10px;
    border: none;
    font-size: 1.05em;
    padding: 14px 20px;
    background-color: #ff9640;
    color: white;
    text-decoration: none;
    width: 140px;
    text-align: center;
    font-family: "LatoRegular", arial, sans-serif;
    cursor: pointer; }
  /* line 934, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .log {
    display: block;
    border: none;
    background-color: #ff9640;
    color: white;
    text-decoration: none;
    font-size: 1.05em;
    padding: 16px 20px;
    margin: 3px auto 10px;
    width: 140px;
    text-align: center;
    font-family: "LatoRegular", arial, sans-serif; }

  /* line 948, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .profil .identifiant {
    width: 80%; }

  /* line 952, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  header .topBar .head {
    max-width: 400px; }

  /* line 955, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .QuizzName {
    display: none; }
 }

@media screen and (min-width: 780px) {
  /* line 960, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  #footer {
    margin: 0;
    height: 5.2em;
    background-color: #e5e5e5;
    clear: both;
    margin-top: 50px; }

  /* line 968, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .facebook {
    display: inline-block;
    width: 84px;
    height: 84px;
    background-image: url("../images/sprite.png");
    background-position: 0px 0px; }

  /* line 975, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .facebook:hover {
    background-position: 0px -84px; }

  /* line 978, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .twitter {
    display: inline-block;
    width: 84px;
    height: 84px;
    background-image: url("../images/sprite.png");
    background-position: -672px 0px; }

  /* line 985, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .twitter:hover {
    background-position: -672px -84px; }

 }

@media screen and (max-width: 780px) {
  /* line 995, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .reseaux_sociaux a {
    display: inline-block;
    margin-left: auto; }

  /* line 999, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  #footer {
    margin: 0;
    height: 5.2em;
    background-color: #e3e3e3;
    clear: both;
    margin-top: 0px; }

  /* line 1006, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .facebook {
    display: inline-block;
    width: 84px;
    height: 84px;
    background-image: url("../images/sprite.png");
    background-position: 0px 0px; }

  /* line 1013, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .facebook:hover {
    background-position: 0px -84px; }

  /* line 1016, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .twitter {
    display: inline-block;
    width: 84px;
    height: 84px;
    background-image: url("../images/sprite.png");
    background-position: -672px 0px; }

  /* line 1023, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .twitter:hover {
    background-position: -672px -84px; }

  /* line 1026, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .content .lastQuizz li {
    background: none; }

  /* line 1029, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .content .lastQuizz li div .categorieInfo {
    display: none; }

  /* line 1032, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .content .topQuizz li {
    background: none; }

  /* line 1035, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .content .topQuizz li div .categorieInfo {
    display: none; }
 }

/* line 1040, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
.reseaux_sociaux {
  padding: 0;
  margin: 0;
  text-align: center;
  /* centrer le texte */
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

/* line 1048, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
.reseaux_sociaux li {
  display: inline-block;
  list-style: none; }

/* line 1052, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
.reseaux_sociaux a {
  display: inline-block;
  margin: 0 34px; }

@media screen and (max-width: 860px) {
  /* line 1059, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .content .topQuizz li div .categorieInfo {
    font-size: 0.6em; }

  /* line 1063, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .content .lastQuizz li div .categorieInfo {
    font-size: 0.6em; }
 }

@media screen and (max-width: 780px) {
  /* line 1072, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  .sideBar {
    float: none;
    width: 80%;
    margin: auto auto 25px;
    vertical-align: top;
    background: #0f80cf;
    padding: 0px 20px 20px; }
    /* line 1079, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    .sideBar .userBloc {
      padding-left: 20px;
      padding-right: 20px;
      background: #0f80cf; }
    /* line 1084, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    .sideBar form {
      text-align: center; }
      /* line 1086, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      .sideBar form .envoi {
        float: left;
        border: none;
        font-size: 1.05em;
        padding: 14px 20px;
        background-color: #ff9640;
        color: white;
        text-decoration: none;
        width: 140px;
        margin-right: 10px;
        text-align: center;
        font-family: "LatoRegular", arial, sans-serif;
        cursor: pointer; }
    /* line 1101, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    .sideBar .log {
      float: left;
      border: none;
      background-color: #ff9640;
      color: white;
      text-decoration: none;
      font-size: 1.05em;
      padding: 16px 20px;
      width: 140px;
      margin-left: 10px;
      text-align: center;
      font-family: "LatoRegular", arial, sans-serif; }

  /* line 1116, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .content {
    width: 100%; }
 }
