/* line 13, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 23, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
body {
  line-height: 1; }

/* line 29, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
ol, ul {
  list-style: none; }

/* line 32, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
blockquote, q {
  quotes: none; }

/* line 36, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 40, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---- COLOR ------ */
/* ----- FONT ------ */
@font-face {
  font-family: "LatoBlack";
  src: url('../font/Lato-Black.ttf'); }

@font-face {
  font-family: "LatoLight";
  src: url('../font/Lato-Light.ttf'); }

@font-face {
  font-family: "LatoRegular";
  src: url('../font/Lato-Regular.ttf'); }

@font-face {
  font-family: "LatoBold";
  src: url('../font/Lato-Bold.ttf'); }

@font-face {
  font-family: "LatoBoldItalic";
  src: url('../font/Lato-BoldItalic.ttf'); }

/* line 75, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
* {
  box-sizing: border-box; }

/* line 78, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
body {
  background: #f5f5f5; }

/* line 82, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
header .topBar {
  height: 75px;
  width: 100%;
  background: #0f80cf; }
  /* line 86, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  header .topBar div {
    max-width: 1200px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px; }
/* line 93, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
header .nav {
  height: 65px;
  background: #cbd2d7; }
  /* line 96, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  header .nav ul {
    max-width: 1200px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px; }
    /* line 101, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    header .nav ul li {
      display: inline-block;
      margin-right: 25px; }
      /* line 104, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      header .nav ul li a {
        display: inline-block;
        font-family: "LatoBlack", arial, sans-serif;
        color: #6f7376;
        font-size: 1em;
        text-decoration: none;
        height: 65px;
        line-height: 65px; }
        /* line 112, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        header .nav ul li a:hover {
          text-decoration: underline; }

/* line 120, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
section {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px; }
  /* line 126, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .content {
    display: inline-block;
    width: 66%;
    padding-left: 20px;
    padding-left: 20px; }
    /* line 131, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content h2 {
      font-family: "LatoLight", arial, sans-serif;
      font-size: 2em; }
    /* line 135, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .topQuizz ul {
      margin-left: 20px; }
    /* line 138, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .lastQuizz ul {
      padding-right: 20px; }
    /* line 142, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .lastQuizz, section .content .topQuizz {
      width: 49%;
      display: inline-block; }
      /* line 145, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .lastQuizz h2, section .content .topQuizz h2 {
        margin-right: 20px; }
      /* line 148, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .lastQuizz li, section .content .topQuizz li {
        height: 70px;
        background: #dce0e3;
        margin-top: 15px; }
        /* line 152, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .lastQuizz li img, section .content .topQuizz li img {
          height: 100%;
          display: inline-block; }
        /* line 156, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .lastQuizz li div, section .content .topQuizz li div {
          display: inline-block;
          vertical-align: top;
          padding-left: 15px;
          padding-top: 15px; }
          /* line 161, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .lastQuizz li div .categorieInfo, section .content .topQuizz li div .categorieInfo {
            font-family: "LatoBlack", arial, sans-serif;
            color: #333333;
            text-transform: uppercase;
            font-size: 0.75em; }
          /* line 167, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .lastQuizz li div .QuizzName, section .content .topQuizz li div .QuizzName {
            margin-top: 2px;
            font-size: 1.25em;
            color: #333333;
            font-family: "LatoRegular", arial, sans-serif; }
        /* line 174, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .lastQuizz li:first-child, section .content .topQuizz li:first-child {
          height: 210px;
          overflow: hidden;
          position: relative; }
          /* line 178, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .lastQuizz li:first-child div, section .content .topQuizz li:first-child div {
            z-index: 10;
            position: absolute;
            bottom: 0;
            height: 70px;
            background: rgba(0, 0, 0, 0.65);
            width: 100%; }
            /* line 185, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
            section .content .lastQuizz li:first-child div .QuizzName, section .content .lastQuizz li:first-child div .categorieInfo, section .content .topQuizz li:first-child div .QuizzName, section .content .topQuizz li:first-child div .categorieInfo {
              color: #ffffff; }
    /* line 192, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .topQuizz {
      width: 49%;
      display: inline-block;
      vertical-align: top; }
      /* line 196, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .topQuizz h2 {
        margin-left: 20px; }
    /* line 202, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .listCategory li {
      height: 70px;
      background: #dce0e3;
      margin-top: 15px; }
      /* line 203, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li a {
        text-decoration: none; }
      /* line 206, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li div {
        display: inline-block;
        padding-left: 15px;
        padding-top: 15px;
        vertical-align: top; }
      /* line 212, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li img {
        height: 100%; }
      /* line 218, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li .categorieInfo {
        font-family: "LatoBlack", arial, sans-serif;
        color: #333333;
        text-transform: uppercase;
        font-size: 0.75em; }
      /* line 224, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory li .QuizzName {
        margin-top: 2px;
        font-size: 1.25em;
        color: #333333;
        font-family: "LatoRegular", arial, sans-serif; }
    /* line 231, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .listCategory .headlines {
      margin-top: 20px; }
      /* line 233, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory .headlines .first {
        width: 67.4%;
        padding-right: 5px;
        display: inline-block; }
        /* line 237, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .listCategory .headlines .first div {
          width: 100%;
          height: auto;
          position: relative;
          display: inline-block; }
          /* line 242, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .first div img {
            width: 100%;
            height: auto; }
          /* line 246, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .first div div {
            position: absolute;
            bottom: 4px;
            height: 70px;
            background: rgba(0, 0, 0, 0.65);
            padding-left: 15px;
            width: 100%;
            z-index: 4; }
      /* line 257, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory .headlines .side {
        width: 31.6%;
        padding-left: 5px;
        display: inline-block;
        vertical-align: top; }
        /* line 263, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .listCategory .headlines .side div div {
          width: 100%;
          height: auto;
          position: relative; }
          /* line 267, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .side div div img {
            width: 100%;
            height: auto; }
          /* line 271, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .side div div div {
            position: absolute;
            bottom: 4px;
            height: 70px;
            background: rgba(0, 0, 0, 0.65);
            padding-left: 15px;
            width: 100%;
            z-index: 4; }
        /* line 281, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .listCategory .headlines .side div:first-child {
          padding-bottom: 7px; }
          /* line 283, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .side div:first-child div {
            padding-bottom: 0;
            padding-top: 0; }
        /* line 288, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .listCategory .headlines .side div:nth-child(2) {
          padding-top: 7px; }
          /* line 290, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
          section .content .listCategory .headlines .side div:nth-child(2) div {
            padding-top: 0;
            padding-bottom: 0; }
      /* line 298, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory .headlines .categorieInfo {
        font-family: "LatoBlack", arial, sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.75em;
        margin-top: 15px; }
      /* line 305, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .listCategory .headlines .QuizzName {
        margin-top: 2px;
        font-size: 1.25em;
        color: #fff;
        font-family: "LatoRegular", arial, sans-serif; }
    /* line 314, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .intro {
      margin-top: 20px; }
      /* line 316, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .intro img {
        width: 49%;
        padding-right: 20px;
        display: inline-block; }
      /* line 321, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .intro p {
        vertical-align: top;
        padding-left: 20px;
        display: inline-block;
        width: 49%;
        color: #333;
        font-family: "LatoRegular", arial, sans-serif;
        padding-right: 20px; }
    /* line 331, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .content .quizz {
      margin-top: 10px; }
      /* line 333, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .quizz .libelleQuestion {
        font-family: "LatoBold", arial, sans-serif;
        color: #333;
        font-size: 1.25em;
        margin-top: 60px; }
      /* line 339, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
      section .content .quizz div {
        margin-top: 30px; }
        /* line 341, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
        section .content .quizz div .questionNumber {
          color: #d8D8D8;
          font-family: "LatoBoldItalic", arial, sans-serif;
          font-size: 4.688em; }
  /* line 349, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
  section .sideBar {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px; }
    /* line 355, /Applications/MAMP/htdocs/iesa/projet_symfony/path/src/Acme/DemoBundle/Resources/public/css/style.scss */
    section .sideBar .userBloc {
      padding-left: 20px;
      padding-right: 20px;
      background: #0f80cf; }
