html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ---- COLOR ------ */
$clr1: #0f80cf; //bleu header
$clr2: #ff9640; // orange
$clr3: #57a6de; // bleu barre de recherche
$clr4: #fff; // blanc
$clr5: #6e7275;

/* ----- FONT ------ */
@font-face{
    font-family : "LatoBlack";
    src : url('../font/Lato-Black.ttf');
}
@font-face{
    font-family : "LatoLight";
    src : url('../font/Lato-Light.ttf');
}
@font-face{
    font-family : "LatoRegular";
    src : url('../font/Lato-Regular.ttf');
}
@font-face{
    font-family : "LatoBold";
    src : url('../font/Lato-Bold.ttf');
}
@font-face{
    font-family : "LatoBoldItalic";
    src : url('../font/Lato-BoldItalic.ttf');
}
$Black: "LatoBlack", arial, sans-serif;
$Light: "LatoLight", arial, sans-serif;
$Regular: "LatoRegular", arial, sans-serif;
$Bold: "LatoBold", arial, sans-serif;
$BoldItalic: "LatoBoldItalic", arial, sans-serif;

* {
    box-sizing: border-box;
}
body{
    background: #f5f5f5;
}
header{
    background: $clr1;
    .topBar{
        height: 75px;
        max-width: 1200px;
        margin: 0 auto;
        .head{
            max-width: 700px;
            margin: 20px 0 0;
            padding-left: 40px;
            padding-right: 40px;
            float: left;  

            h1{
                float: left;
            }

            p{
                width: 800px;
                margin-top: 10px;
                padding-left: 110px;
                font-size: 0.9em;
                color: white;
            }

        }

        .search{
            max-width: 1200px;
            margin: 20px 0 0;
            padding-left: 40px;
            padding-right: 40px;  
            float: left;  

            .form-group{
                display: inline-block;

                input{
                    background-color: $clr3;
                    padding: 7px 10px;
                    border: none;
                }

                input::-webkit-input-placeholder {
                    color: $clr5;
                }

                input:-moz-placeholder {
                    color: $clr5;
                }
            }

            button{
                background-color: $clr2;
                color: $clr4;
                border: none;
                padding: 7px 10px; 
                font-weight: bold;  
            }
        }
    }

    .nav{
        height: 65px;
        background: #cbd2d7;
        ul{
            max-width: 1200px;
            margin: auto;
            padding-left: 40px;
            padding-right: 40px;
            li{
                display: inline-block;
                margin-right: 25px;
                a{
                    display: inline-block;
                    font-family: $Black;
                    color: #6f7376;
                    font-size: 1em;
                    text-decoration: none;
                    height: 65px;
                    line-height: 65px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.profil{
    background-color: $clr1;
    padding-top: 0;
    h1{
        text-align: center;
        padding: 15px;
        color: white;
        font-size: 1.4em;
        font-family: $Black;
    }
    .log{
        float: left;
        border: none;
        background-color: #ff9640;
        color: white;
        text-decoration: none;
        font-size: 1.05em;
        padding: 16px 20px;
        width: 140px;
        margin-left: 10px;
        text-align: center;
        font-family: $Regular;
    }
    .identifiant{
        background-color: $clr3;
        border: none;
        padding: 10px;
        font-size: 12px;
        width: 300px;
        margin-top: 5px 0;
    }
    input::-webkit-input-placeholder {
        color: $clr5;
    }               
    input:-moz-placeholder {
        color: $clr5;
    }
    #remember_me{
        margin: 15px 0 25px;
        font-size: 0.9em;
        color: white;
    }
    label{
        font-size: 0.9em;
        color: white;
    }
    .envoi{
        float: left;
        border: none;
        font-size: 1.05em;
        padding: 14px 20px;
        background-color: #ff9640;
        color: white;
        text-decoration: none;
        width: 140px;
        margin-right: 10px;
        text-align: center;
        font-family: $Regular;
    }
}



section{
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    .content{
        display: inline-block;
        width: 66%;
        padding-left: 20px;
        padding-left: 20px;
        h2{
            font-family: $Light;
            font-size: 2em;
        }
        .topQuizz ul{
            margin-left: 20px;
        }
        .lastQuizz ul{
            padding-right: 20px;
        }
        
        .lastQuizz, .topQuizz{
            width: 49%;
            display: inline-block;
            h2{
                margin-right: 20px;
            }
            li{
                height: 70px;
                background: #dce0e3;
                margin-top: 15px;
                img{
                    height: 100%;
                    display: inline-block;
                }
                div{
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 15px;
                    padding-top: 15px;
                    .categorieInfo{
                        font-family: $Black;
                        color: #333333;
                        text-transform: uppercase;
                        font-size: 0.750em;
                    }
                    .QuizzName{
                        margin-top: 2px;
                        font-size: 1.250em;
                        color: #333333;
                        font-family: $Regular;
                    }    
                }
                &:first-child{
                    height: 210px;
                    overflow: hidden;
                    position: relative;
                    div{
                        z-index: 10;
                        position: absolute;
                        bottom: 0;
                        height: 70px;
                        background: rgba(0, 0, 0, 0.65);
                        width: 100%;
                        .QuizzName, .categorieInfo{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
        .topQuizz{
            width: 49%;
            display: inline-block;
            vertical-align: top;
            h2{
                margin-left: 20px;
            }
        }

        .listCategory{
            li{
                a{
                    text-decoration: none;
                }
                div{
                    display: inline-block;
                    padding-left: 15px;
                    padding-top: 15px;
                    vertical-align: top;
                }
                img{
                    height: 100%;
                }
                height: 70px;
                background: #dce0e3;
                margin-top: 15px;
                .categorieInfo{
                    font-family: $Black;
                    color: #333333;
                    text-transform: uppercase;
                    font-size: 0.750em;
                }
                .QuizzName{
                    margin-top: 2px;
                    font-size: 1.250em;
                    color: #333333;
                    font-family: $Regular;
                }
            }
            .headlines{
                margin-top: 20px;
                .first{
                   width: 67.4%;
                   padding-right: 5px;
                   display: inline-block;
                   div{
                       width: 100%;
                       height: auto;
                       position: relative;
                       display: inline-block;
                       img{
                        width: 100%;
                        height: auto;
                    }
                    div{
                        position: absolute;
                        bottom: 4px;
                        height: 70px;
                        background: rgba(0, 0, 0, 0.65);
                        padding-left: 15px;
                        width: 100%;
                        z-index: 4;
                    }
                }
            }
            .side{
                width: 31.6%;
                padding-left: 5px;
                display: inline-block;
                vertical-align: top;
                div{
                    div{
                       width: 100%;
                       height: auto;
                       position: relative;
                       img{
                        width: 100%;
                        height: auto;
                    }
                    div{
                        position: absolute;
                        bottom: 4px;
                        height: 70px;
                        background: rgba(0, 0, 0, 0.65);
                        padding-left: 15px;
                        width: 100%;
                        z-index: 4;
                    }
                }
                &:first-child{
                    padding-bottom: 7px;
                    div{
                        padding-bottom: 0;
                        padding-top: 0;
                    }
                }
                &:nth-child(2){
                    padding-top: 7px;
                    div{
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }

        }
        .categorieInfo{
            font-family: $Black;
            color: #fff;
            text-transform: uppercase;
            font-size: 0.750em;
            margin-top: 15px;
        }
        .QuizzName{
            margin-top: 2px;
            font-size: 1.250em;
            color: #fff;
            font-family: $Regular;
        }
    }

}
.intro{
    margin-top: 20px;
    img{
        width: 49%;
        padding-right: 20px;
        display: inline-block;
    }
    p{    
        vertical-align: top;
        padding-left: 20px;
        display: inline-block;
        width: 49%;
        color: #333;
        font-family: $Regular;
        padding-right: 20px;
    }
}

    /** CSS **/

    .wrapper{
      width: 95%;
      padding: 6%;
      margin-top: 6% auto;
      background: #fff;

      input[type="radio"] {
          display: none;
      }
      label .libelleQuestion{
        font-size: 25px;
    }
    label input + .customRadio {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      background: #FF9640;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #FF7400;
  }

  label input:checked + .customRadio {
      background: #33CCCC;
      box-shadow: 0 0 0 2px #009999;
  }
  .questionNumber{
       font-size: 45px;
       font-family: "LatoBold", arial, sans-serif;
       font-style: italic;
       float: left;
       color: #d7d7d7;
       margin-top:60px;
}
 .libelleQuestion{
        font-size: 18px;
        font-family: "LatoBold", arial, sans-serif;
        margin:10px 10px ;
}
 .libelleReponse{
        font-family: "LatoRegular", arial, sans-serif;
        font-size: 14px;
        margin-left: 50px;
    
}
  input[type="submit"] {
      padding: 5px 4%;
      margin-top: 4%;
      font-family: 'Arial', sans-serif;
      font-size: 20px;
      font-weight: 100;
      color: #fff;
      background: #FF7400;
      border: 0;
      border-radius: 3px;
      cursor: pointer;
  }

  input[type="submit"]:hover {
      background: #333;
  }
}
        

        
    /** END CSS **/

    
}
.sideBar{
    display: inline-block;
    width: 33%;
    vertical-align: top;
    background: $clr1;
    padding:0px 20px 20px;
    .userBloc{
        padding-left: 20px;
        padding-right: 20px;
        background: $clr1;
    }
}
    
.addQuizz{
    margin-top: 40px;
    input[type="text"]{
        min-height: 45px;
        background: #fff;
        border: 2px solid #e3e3e3;
        color: #333333;
        font-size: 1.250em;
        font-family: $Regular;
        padding-left: 20px;
        width: 100%;
    }
    input[type="text"]::-webkit-input-placeholder{
        font-family: $Light;
        color: #b7b7b7;
    }
    textarea{
        background: #fff;
        border: 2px solid #e3e3e3;
        min-height: 120px;
        width: 100%;
        margin-top: 20px;
        color: #333333;
        font-size: 1.250em;
        font-family: $Regular;
        padding-left: 20px;
    }
    textarea::-webkit-input-placeholder{
        font-family: $Light;
        color: #b7b7b7;
    }
    input[type="checkbox"]{
        display: inline-block;
        width: 10%;
    }
    input[class="addReponse"]{
        display: inline-block;
        width: 100%;
    }
    div[class^="add_quizz_type_questions"]{
        margin-top: 30px;
    }
    #add_quizz_type_questions > div{
        margin-top: 40px;
    }
    #add_quizz_type_questions > div > div > div{
        margin-bottom: 20px;
    }
    .numberAddQuestion{
        color: #d8d8d8;
        font-size: 4.688em;
        display: inline-block;
        width: 8%;
        font-family: $BoldItalic;
        vertical-align: top;
        line-height: 2.2em;
    }
    #add_quizz_type_questions > div > div > div:nth-child(3){
        display: inline-block;
        padding-left: 35px;
        width: 92%;
    }
    #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div> div{
    display: inline-block;
    }
    #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div> div:nth-child(1){
    width: 92%;
    }
    #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div{
    margin-bottom: 8px;
    } 
     #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div> div:nth-child(2){
    width: 8%;
    }
    #add_quizz_type_questions > div > div > div:nth-child(3) > div > div > div> div:nth-child(2) input{
    width: 15px;
    float: right;
    }
    hr{
    display: block;
    height: 2px;
    opacity: 0.1;
    background: #333;
    margin-top: 30px;
        border: none;
    }
    select{
    margin-top: 15px;
    margin-bottom: 20px;
    }
    label{
    font-family: $Regular;
    color: #333;
        font-size: 0.850em;
    }
}    
}
